/* 폰트 스타일 찾는 중 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* 차트 디자인 */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    justify-content: center; /* 중앙 정렬 */
    padding: 10px;
    width: 100%; /* 전체 폭 사용 */
    height: auto; /* 반응형 레이아웃 */
    /* margin-bottom: 20px; 차트 아래 간격 추가 */
  }

  .chart-title {
    /* 옵션 2: 더 강조된 전문적인 스타일 */
    font-family: 'Pretendard', sans-serif;
    font-size: 1.5rem;
    font-weight: 512;
    color: #2c3e50;
    letter-spacing: -0.01em;
    text-align: center;
  }
  
  .label-container {
    margin-top: 18.5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .label-item {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    z-index: 999999;
  }
  
  .label-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }