@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif !important; /* 'Arial'을 'Noto Sans KR'로 교체 */
  background-color: #f4f5f7;
  font-weight: 400;
}


 /* 사이드바 여백 */
.content-wrapper {
  flex-grow: 1;
  margin-left: 222px; /* 사이드바 너비만큼 여백 추가 */
  background-color: #f4f5f7; /* 전체 배경색 유지 */
  min-height: calc(100vh - 70px);
  padding: 20px;
  box-sizing: border-box;
}

.content {
  background-color: #ffffff; /* 내부 컨텐츠 영역 배경색 */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}